---
layout: default
---
<div class="site-section" data-aos="fade">
  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="site-section-heading text-center">{{ page.title }}</h2>
          </div>
        </div>
      </div>

    </div>

    {{ content }}

    <div class="grid">
      {% for image in page.images %}
        {% capture src %}/images/albums/{{ page.title | downcase }}/{{ image }}{% endcapture %}
        <div class="px-1 py-1">
          <a href="{{ src }}" data-fancybox="gallery">
            <img src="{{ src | replace: '.', '_small.' }}" class="img-fluid">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
