---
layout: default
---
<div class="site-section" data-aos="fade">
  <div class="container-fluid">

    <div class="row justify-content-center">

      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12 ">
            <h2 class="site-section-heading text-center">{{ page.title }}</h2>
          </div>
        </div>
      </div>

    </div>

    {{ content }}

    <div class="row" id="lightgallery">
      {% for image in page.images %}
      {% capture src %}/images/albums/{{ page.title | downcase }}/{{ image }}{% endcapture %}
      <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 item" data-aos="fade" data-src="{{ src }}">
        <a href="#"><img src="{{ src | replace: '.', '_small.' }}" class="img-fluid"></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
