---
layout: default
---
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=502165271895841&autoLogAppEvents=1" nonce="zlmjjcn5"></script>

<div class="site-section" data-aos="fade">
  <div class="container-fluid">
    <div class="row justify-content-center">

      <div class="col-md-7">
        <div class="row mb-5">
          <div class="col-12">
            <h2 class="site-section-heading text-center">{{ page.title }}</h2>
          </div>
        </div>
      </div>

    </div>

    {{ content }}

    {% for review in page.reviews %}
      <div class="row mb-2">
        <div class="col text-center">
          <div class="fb-post" data-href="{{ review }}" data-width="750" data-show-text="true" data-lazy="true"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>